<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/css/lib/sui/sm.css">
    <link rel="stylesheet" href="../../static/css/detail.css">
    <script type='text/javascript' src='../../static/js/lib/vue.js' charset='utf-8'></script>
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="detail">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="index.html" data-transition='slide-out'>
                <span class="icon icon-left"></span>

            </a>
            <h1 class="title">{{title}}</h1>
        </header>
        <div class="content">
            <div class="list-block media-list mt0 detail-info">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">
                                <img v-bind:src="imgUrl">
                            </div>
                            <div class="item-inner" style="background-image:none">
                                <div class="item-title-row">
                                    <div class="item-title">{{site_name}}</div>
                                </div>
                                <div class="item-subtitle rating"><span>★</span><span>★</span><span>★</span></div>
                                <div class="item-text">
                                    <div>电话：<span>{{site_tel}}</span></div>
                                    <div>接单数：<span>29</span>单</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <form method="post" action="" id="from">
                <div class="list-block">
                    <ul>
                        <!-- Text inputs -->
                        <li v-if="isFillingStation">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" v-if="isFillingStation">燃气类型</div>
                                    <div class="item-title label" v-if="isGAS">加油类型</div>
                                    <select name="">
                                        <option value="">请选择</option>
                                        <option value="1">LNG</option>
                                        <option value="2">LNG1</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li v-if="isGAS">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">燃气类型</div>
                                    <select name="">
                                        <option value="">请选择</option>
                                        <option value="1">LNG</option>
                                        <option value="2">LNG1</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">车牌号</div>
                                    <div class="item-input">
                                        <input type="email" placeholder="车牌号">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">喷枪号</div>
                                    <div class="item-input">
                                        <select name="">
                                            <option value="">请选择</option>
                                            <option value="1">1号枪</option>
                                            <option value="2">2号枪</option>
                                            <option value="3">3号枪</option>
                                            <option value="4">4号枪</option>
                                            <option value="5">5号枪</option>
                                            <option value="6">6号枪</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" v-if="isFillingStation">加气金额</div>
                                    <div class="item-title label" v-if="isGAS">加油金额</div>
                                    <div class="item-input">
                                        <input type="date" placeholder="Birth day" value="100">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Date -->
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">付款方式</div>
                                    <div class="item-input">
                                        <select name="">
                                            <option value="">请选择</option>
                                            <option value="1">个人账户余额</option>
                                            <option value="2">转账账户</option>
                                            <option value="3">微信</option>
                                            <option value="4">支付宝</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Switch (Checkbox) -->
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" v-if="isFillingStation">加气量</div>
                                    <div class="item-title label" v-if="isGAS">加油量</div>
                                    <div class="item-input">
                                        20升
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">单价</div>
                                    <div class="item-input">
                                        5.0豆/升
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="align-top">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">剩余能源豆</div>
                                    <div class="item-input">
                                        2500
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="align-top">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">本次支付所需</div>
                                    <div class="item-input">
                                        2500
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="content-block">
                                <a href="#" class="button button-big button-theme" id="register">提交支付</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="mapContainer" style="display: none;"></div>
<script type="text/javascript"
        src="http://webapi.amap.com/maps?v=1.3&key=c8d499635271ab4f9d449d35911e2cf1&plugin=AMap.ToolBar"></script>
<script>
    new Vue({
        el: '#detail',
        data: {
            title: '加气站',
            imgUrl: '../../static/img/a2.jpg',
            site_name: '张家口加气站',
            site_tel: '0371-562305',
            isFillingStation: false,
            isGAS: true
        }
    })
</script>
</body>
</html>