@import "../style";
@import "../base";

#list_form {
  background: $login-bg;
  .box{
    height: 1.8rem !important;
    line-height: 1.8rem !important;
    top: .2rem !important;
  }
  .getcode {
    width: 6rem;
    height: 2rem;
    position: relative;
    top: .05rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    border-radius: 1rem;
    background: #f00;
  }
  .check-icon {
    width: 1rem;
    height: 1rem;
    font-size: .6rem;
    text-align: center;
    background-color: #2ac845;
    border: 1px solid #2ac845;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    display: none;
  }
  .error-tip {
    color: $error-tip;
    white-space: nowrap;
    font-size: .6rem;
  }
  #resourceOutDeviceNo,#venderResourceId{
    background: url(../../img/arrow.png) no-repeat scroll 98% center transparent;
    background-size: auto .6rem;
  }
#resourceType,#resourceGrade{
  display: block;
  width: 100%;
  color: #3d4145;
  opacity: 1;
  border-radius: .5rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../../img/arrow.png") no-repeat scroll 98% center transparent;
  background-size: auto .6rem;
  padding-right: 1rem;
}
  .zhifu{
    width:100%;
    background:#fff;
    position: fixed;
    height: 1.8rem;
    line-height: 1.8rem;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    text-align: center;
    .w50p{
      width: 50% !important;
      float:left;
      a{
        width: 100%;
        height: 100%;
        display: block;
        color: #fff;
      }
    }
  }
  .qrcode{
    border-right:1px solid #fff;
  }
  .receipt-page{
    .receipt-info-box {
      padding: .5rem 0;
      background: rgba(243, 243, 243, .95);
      border-radius: .2rem;
      text-align: center;
    }

    .receipt-info-box #mobile {
      width: 90%;
      /* margin: 0 auto; */
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      border-radius: .2rem;
      border: 0 none;
    }

    #validateCode {
      width: 58%;
      /* margin: 0 auto; */
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      border-radius: .2rem;
      border: 0 none;
    }

    .code-box {
      width: 90%;
      margin: 0 auto;
      text-align: left;
    }

    .getcode {
      width: 40%!important;
      height: 1.5rem;
      position: relative;
      top: .4rem;
      color: #fff;
      text-align: center;
      line-height: 1.5rem;
      border-radius: 1rem;
      background: #f00;
      /* padding: .5rem .6rem; */
      font-size: .6rem;
      float: right;
      display: inline-block !important;
    }

    .mark {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .4);
      z-index: 10600;
      visibility: hidden;
      opacity: 0;
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
    }

    .pop {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 11000;
      width: 100%;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    .pop-group {
      margin: .4rem;
      line-height: 2.15rem;
    }

    .btn {
      text-align: center;
      font-weight: 400;
      background: rgba(243, 243, 243, .95);
      box-sizing: border-box;
      display: block;
      position: relative;
      border-radius: .2rem;
    }

    .mark.active {
      visibility: visible;
      opacity: 1;
    }

    .pop.active {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
