@import "../style";
@import "../base";

#me {
  .top {
    width: 100%;
    height: 8rem;
    background: #f00;
    //background: url(../../img/bg.png);
    //background-size: 100% 100%;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: .6rem;
    padding: 1.5rem 0;
    z-index: 0;
    a {
      align-items: center;
      color:#fff;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border:1px solid $color-light-grey;
      margin-top: 1rem;
    }
    .user-box {
      margin-left: .5rem;
      color: $color-black;
    }
  }
  .top:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(3px);
    z-index: 2;
  }
  .list-block {
    background: #fff;
    margin: 0;
    padding: 0 .75rem;
    img {
      width: 1.2rem;
    }
    .item-text {
      height: auto;
    }
  }
  .logo-box {
    position: relative;
    img {
      width: 6rem;
      height: 6rem;
      display: block;
      margin: 1rem auto;
      border-radius: .5rem;
    }
  }
  .status-no{
    display: none;
  }
}

#OilAndGasList {
  .list-box {
    font-size: .7rem;
    line-height: 1.5rem;
    .item {
      background: #fff;
      padding: .6rem;
      margin-bottom: .5rem;
    }
  }
}

#wallet {
  .wallet-top-box {
    padding: .6rem;
    background: #fff;
    font-size: .6rem;
    line-height: 1.2rem;
    .top{
      font-size: .8rem;
    }
  }
}

#cashWithdrawal {
  background: #fff;
  padding: .6rem;
  select{
    font-size: .7rem;
  }
  input{
    font-size: .7rem;
  }
  .cash-top-box {
    line-height: 1.2rem;
    padding: .6rem;
    font-size: .8rem;
  }
  .cash-box-list{
    font-size: .7rem;
  }
}

#WithdrawalsRecord{
  .list-box {
    font-size: .7rem;
    line-height: 1.5rem;
    .item {
      background: #fff;
      padding: .6rem;
      margin-bottom: .5rem;
      .small-bt{
        font-size: .6rem;
      }
      .amount{
        color: #f00b0d;
        font-weight: 700;
      }
    }
  }
}

#BankCard {
  .item {
    color: #fff;
    background:#EE6363;
    padding: 1rem .6rem;
    margin: .6rem;
    border-radius: .2rem;
    .bankCardType{
      font-size: .7rem;
    }
    .status{
      font-size: .6rem;
      color: rgba(241, 232, 232, 0.8);
    }
    .bankCard{
      font-size: .8rem;
    }
  }
  .col-100{
    padding: 1rem .6rem;
  }
  .addBnak{
    color: #fff;
    background-color: #EE6363;
    border:0 none;
    display:none;
  }
  .addBnak{
    color: #fff;
    background-color: #EE6363;
    border:0 none;
  }
}

#about {
  .pop-box {
    .inner {
      background: #fff;
      width: 15rem;
      height: 18rem;
      margin: 4rem auto;
      font-size: .7rem;
      border-radius: .5rem;
      .title-box{
        width: 10rem;
        margin: 0 auto;
        padding: 1rem 0;
      }
      .bt {
        line-height: 2rem;
        color: #555;
      }
      .mobile {
        line-height: 1.5rem;
        color: #999;
      }
    }
  }
}
#messageType {
  background: #fff;
  .messageType-box{
    padding:1rem .6rem;
  }
  .icon-box {
    width: 4rem;
    text-align: center;
    img {
      width: 2rem;
      height: 2rem;
      display: block;
      border: 1px solid #8a8a8a;
      border-radius: 50%;
      margin: 0 auto;
      padding: .5rem;
    }
  }
}
#account {
  .account-box {
    background: #fff;
    padding: .6rem;
    line-height: 1.5rem;
    font-size: .7rem;
  }
  #bankType{
    display: block;
    width: 100%;
    color: #3d4145;
    opacity: 1;
    border-radius: .5rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../../img/arrow.png") no-repeat scroll 98% center transparent;
    background-size: auto .6rem;
    padding-right: 1rem;
  }
  textarea{
    font-size: .6rem !important;
  }
}

#payMessage {
  .bt{
    font-size: .7rem;
    padding-top:1rem;
  }
  .fee-box {
    padding: .6rem;
    font-size: .6rem;
  }
  .item {
    padding: .2rem 0;
    margin: 0 .5rem;
    border: 1px solid $color-grey;
    text-align: center;
    color: $color-grey;
  }
  .item.active{
    padding: .2rem 0;
    margin: 0 .5rem;
    border: 1px solid orangered;
    text-align: center;
    color: orangered;
  }
  .getcode {
    width: 8rem;
    height: 2.15rem;
    color: #3d4145;
    text-align: center;
    line-height: 2.15rem;
    border-radius: 1rem;
  }
}

#registerPageTwo {
  .getcode {
    width: 6rem;
    height: 2.15rem;
    color: #3d4145;
    text-align: center;
    line-height: 2.15rem;
    border-radius: 1rem;
    border: 1px solid #828282;
  }
  .check-icon {
    width: 1rem;
    height: 1rem;
    font-size: .6rem;
    text-align: center;
    background-color: #2ac845;
    border: 1px solid #2ac845;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    display: none;
  }
  .error-tip {
    color: $error-tip;
    white-space: nowrap;
    font-size: .6rem;
  }
}
.bg-bank-bg{
  color: #fff;
  background: #EE6363;
}
#bankFlag,#areaFlag{
  display: block;
  width: 100%;
  color: #3d4145;
  opacity: 1;
  border-radius: .5rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../../img/arrow.png") no-repeat scroll 98% center transparent;
  background-size: auto .6rem;
  padding-right: 1rem;
}
