/**
 * Created by zhujinyu on 2018/2/6.
 */
* {
  box-sizing: border-box; }

html, body {
  font-size: 20px;
  font-family: sans-serif !important;
  /*font-size: 62.5% !important;*/
  -webkit-text-size-adjust: 100%;
  /*height: auto!important;*/
  height: 100% !important;
  position: relative !important;
  width: 100%;
  max-width: 640px;
  margin: 0 auto; }

a {
  color: #ff0000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:active {
  color: #ff0000; }

.bar .button-link {
  color: #ff0000; }

.bar .button-link:active,
.bar .button-link.active {
  color: #ff0000; }

.buttons-tab .button.active {
  color: #ff0000;
  border-color: #ff0000;
  z-index: 100; }

ul {
  list-style: none; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 20.4799992px !important; } }
@media only screen and (min-width: 375px) {
  html {
    font-size: 24px !important; } }
@media only screen and (min-width: 400px) {
  html {
    font-size: 25.59996px !important; } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 26.496px !important; } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 30.72px !important; } }
input {
  font-size: .6rem !important; }

.list-block {
  font-size: .6rem;
  textarea-color: #333;
  textarea-font-size: .6rem !important; }
  .list-block .label {
    color: #999;
    font-size: .6rem !important; }
  .list-block input {
    color: #333;
    font-size: .6rem !important; }
  .list-block select {
    color: #333;
    font-size: .6rem !important; }

.list-block .item-inner:after {
  height: 2px !important; }

a {
  color: #999;
  font-size: .6rem; }

.mt0 {
  margin-top: 0; }

.mt10 {
  margin-top: .5rem; }

.mt30 {
  margin-top: 1.5rem; }

.mb0 {
  margin-bottom: 0 !important; }

.m10 {
  margin: .5rem !important; }

.b0 {
  bottom: 0rem !important; }

.mr4 {
  margin-right: .2rem; }

.mr10 {
  margin-right: .5rem; }

.mt10 {
  margin-top: .5rem !important; }

.mt80 {
  margin-top: 4rem; }

.pt20 {
  padding-top: 1rem !important; }

.pb20 {
  padding-bottom: 1rem; }

.ptb20 {
  padding: 1rem 0; }

.p10 {
  padding: .5rem; }

.ptb5 {
  padding: .25rem 0; }

.p20 {
  padding: 0 .5rem; }

.p12 {
  padding: .6rem; }

.pl5 {
  padding-left: .25rem; }

.pb60 {
  padding-bottom: 3rem !important; }

.w100p {
  width: 100%; }

.div100p {
  width: 100%;
  display: block; }

.z-999 {
  z-index: 999; }

.flex-box {
  display: -webkit-box;
  display: flex; }

.flex-box-1 {
  -webkit-flex: 1;
  flex: 1; }

.page-group {
  width: 100%; }

.txt-l {
  text-align: left; }

.txt-r {
  text-align: right; }

.txt-c {
  text-align: center; }

.fr {
  float: right; }

.font12 {
  font-size: .6rem !important; }

.font14 {
  font-size: .7rem; }

.pos-r {
  position: relative; }

.dis-b {
  display: block !important; }

.dis-n {
  display: none !important; }

.custom-toast {
  opacity: 0.6 !important; }

.bottom-arrow {
  position: relative; }

.bottom-arrow:before {
  content: "";
  border: 7px solid #999;
  border-bottom: none;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  top: 10px;
  left: 6px;
  border-radius: 2px; }

.bottom-arrow:after {
  content: "";
  border: 6px solid #fff;
  border-bottom: none;
  border-right-color: transparent;
  border-left-color: transparent;
  position: relative;
  top: 8px;
  left: -7px; }

.xing {
  width: .7rem;
  height: .7rem;
  background: url("../../img/star1.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block; }

.filter-box {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  font-size: .7rem;
  line-height: 1.5rem; }
  .filter-box .filter-type {
    padding: 0 .6rem 0 .8rem; }
  .filter-box ul {
    background: #eee;
    padding: 0 .6rem 0 1.7rem;
    margin: 0; }
    .filter-box ul li {
      cursor: pointer;
      font-size: .7rem;
      line-height: 1.5rem; }
    .filter-box ul li:hover {
      color: #0894ec; }
    .filter-box ul li.active {
      color: #0894ec; }

.noneData {
  padding: 3rem 0;
  text-align: center;
  color: #828282;
  font-size: .8rem; }

.align-items-center {
  align-items: center; }

.margin-center {
  margin: 0 auto; }

.footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #f7f7f8;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  font-size: .7rem;
  max-width: 640px; }
  .footer span.icon {
    font-size: 1rem; }
  .footer .active {
    color: #ff0000; }

.checkbox-new {
  vertical-align: middle;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  position: relative;
  margin-right: .3rem;
  top: 0.4rem;
  margin-left: .5rem;
  background: #fff;
  border: 1px solid #828282; }
  .checkbox-new span {
    color: #828282;
    margin-top: -0.18rem;
    line-height: 0.8rem;
    top: -0.15rem;
    position: relative; }

.label-switch input[type=checkbox]:checked + .checkbox-new {
  background: green; }
  .label-switch input[type=checkbox]:checked + .checkbox-new span {
    color: #fff; }

.label-switch input[type=checkbox]:checked + .checkbox-new span:before {
  content: "\e608"; }

.button-theme-greem {
  color: #fff;
  background-color: #228B22;
  border: 0 none; }

.button-theme-greem:active {
  color: #fff;
  background-color: #006400;
  border: 0 none; }

.button-theme-red {
  color: #fff;
  background-color: #ff0000;
  border: 0 none; }

.button-theme {
  color: #fff;
  background-color: #ff0000;
  border: 0 none; }

.button-theme:active {
  color: #fff;
  background-color: #FF3030;
  border: 0 none; }

.button-theme-red:active {
  color: #fff;
  background-color: #FF3030;
  border: 0 none; }

.bar .button-link {
  color: #ff0000; }

.color-green {
  color: #006400; }

.bg-white {
  background: #fff; }

.modal-button {
  color: #ff0000; }

.mt60 {
  margin-top: 3rem; }

.mb60 {
  margin-bottom: 3rem; }

.mb10 {
  margin-bottom: 1rem; }

.pl10 {
  padding-left: .5rem !important; }

.modal-inner {
  color: #8a8a8a; }

.clearboth {
  clear: both; }

.w65p {
  width: 65%; }

.w45p {
  width: 45% !important; }

.list-xx {
  color: #999;
  font-size: .6rem; }
  .list-xx .bt-labels {
    color: #333;
    font-size: .7rem; }

.notice {
  margin-top: 2rem;
  font-size: .5rem;
  padding: 0 1rem; }

.find-close {
  float: right;
  color: #24A1E0; }

.auto-line {
  white-space: normal;
  width: 10rem;
  text-align: right; }

.w60 {
  width: 3rem; }

.limit-length {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#find .banner {
  padding-bottom: 0; }
  #find .banner img {
    width: 100%;
    height: 10rem; }
#find .out-link > div {
  border-bottom: 0.05rem solid #eee;
  height: 4rem;
  background: #fff;
  text-align: center; }
#find .out-link > div:last-child {
  border-right: none; }
#find .out-link a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: .6rem;
  line-height: 1rem; }
#find .out-link img {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: .35rem auto;
  border-radius: .5rem; }
#find .find-list .item-title {
  font-size: .7rem;
  color: #333;
  white-space: normal; }
  #find .find-list .item-title .label-block {
    width: 6rem;
    margin-right: .4rem; }
  #find .find-list .item-title .label-box {
    width: 3rem; }
#find .filter-pop-box {
  position: fixed;
  right: 1rem;
  top: 10rem; }

/*# sourceMappingURL=find.css.map */
