@import "style";
@import "base";

#detail {
  background: #eeeeee;
  .content {
    .list-block {
      margin-bottom: 0;
      ul {
        padding-bottom: .6rem;
        .item-title{
          font-size: .8rem;
          color: $color-black;
        }
        .item-text{
          font-size: .8rem;
          color: $color-black;
        }
        img {
          width: 7rem;
          height: 6rem;
        }
        .rating {
          color: #f00;
          font-size: 1rem;
          span {
            margin: 0 .1rem;
          }
        }
      }
    }
    .type-box {
      background: #fff;
      padding: 1rem .5rem;
      .type {
        padding: 1rem .5rem;
        border-right:1px solid $border-light-grey;
        .type-name {
          font-size: 1rem;
          color: #333;
          line-height: 2rem;
        }
      }
    }
    .detail-title {
      height: 2rem;
      line-height: 2rem;
      font-size: .7rem;
      color: $color-black;
      text-align: left;
      padding: 0 .75rem;
    }
    .service-list {
      margin: 0 .75rem;
      background: #fff;
      text-align: center;
      font-size: .7rem;
      .item {
        padding: .5rem .54rem;
        img {
          width: 2rem;
          height: auto;
        }
        border-right: 1px solid #f2f2f2;
      }
      .item:last-child{
        border-right: 0 none;
      }
    }
    .btn-group {
      .btn {
        padding: .5rem 1rem;
      }
    }
    form {
      li {
        .item-input {
          line-height: 2.2rem !important;
        }
      }
    }

    .price-box,.left-amount-box,.quantity-box{
      display: none;
    }
  }
}