#me {
  .top {
    position: relative;
    img {
      width: 3rem;
    }
    text-align: center;
    font-size: .6rem;
    padding: 1.5rem 0;
    .qrcode {
      position: absolute;
      right: 5rem;
      top: 4rem;
      width: 2rem;
      height: 2rem;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  .list-block {
    background: #fff;
    margin: 0;
    padding: 0 .75rem;
    img {
      width: 1.2rem;
    }
    .item-text {
      height: auto;
    }
  }
  .logo-box {
    position: relative;
    img {
      width: 6rem;
      height: 6rem;
      display: block;
      margin: 1rem auto;
      border-radius: .5rem;
    }
  }
}

#account {
  #rechargeList {
    color: #333;
  }
  .account-box {
    background: #fff;
    padding: .6rem;
    line-height: 1.5rem;
    font-size: .7rem;
  }
}

#payInfo {
  .info-box {
    font-size: 1rem;
    padding: .75rem;
  }
  .red {
    color: #f00b0d;
  }
  .getcode {
    width: 8rem;
    height: 2.15rem;
    color: #3d4145;
    text-align: center;
    line-height: 2.15rem;
    border-radius: 1rem;
  }
}
#about {
  background: rgba(0, 0, 0, .6) !important;
  .pop-box {
    .inner {
      background: #fff;
      width: 15rem;
      height: 18rem;
      margin: 4rem auto;
      font-size: .7rem;
      border-radius: .5rem;
      .title-box{
        width: 10rem;
        margin: 0 auto;
        padding: 1rem 0;
      }
      .bt {
        line-height: 2rem;
        color: #555;
      }
      .mobile {
        line-height: 1.5rem;
        color: #999;
      }
      #qrcode {
        width: 12rem;
        height: 10rem;
        display: block;
        margin: 0 auto;
      }
    }
  }

}
#messageType {
  background: #fff;
  .messageType-box{
    padding:1rem .6rem;
  }
  .icon-box {
    width: 4rem;
    text-align: center;
    img {
      width: 2rem;
      height: 2rem;
      display: block;
      border: 1px solid #8a8a8a;
      border-radius: 50%;
      margin: 0 auto;
      padding: .5rem;
    }
  }
}