$color-black:#333;
$color-grey:#828282;
$color-light-grey:#eee;
$color-input:#3d4145;
$bg-grey:#e7e7e7;
$error-tip: #f00;
$border-grey:#d0d0d0;
$border-light-grey:#eee;
$login-bg:#fff;
$moneyColor:#e49459;
$themeRed:#ff0000;
$themeWeightRed:#FF3030;
$themegreen:#228B22;
$themeWeightgreen:#006400;
$indexPrice:#228B22;
$indexMore:#228B22;
$themeColor:#ff0000;
$themeWeightColor:#FF3030;